/* ------------------------------------------
  layout
 ------------------------------------------ */
.l-inner {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.l-flex {
  display: flex !important;
}
