@charset "utf-8";

.cAqua {
  color: #4A9FFF;
}
.cBlue {
  color: #153B91;
}
.fon14 {
  font-size: 14px !important;
}
.fon15 {
  font-size: 15px !important;
}
.fon18 {
  font-size: 18px !important;
}
.fon20 {
  font-size: 20px !important;
}
.fon22 {
  font-size: 22px !important;
}
.fon23 {
  font-size: 23px !important;
}
.fon24 {
  font-size: 24px !important;
}
.fon25 {
  font-size: 25px !important;
}
.fon28 {
  font-size: 28px !important;
}
.fon31 {
  font-size: 31px !important;
}
.fon32 {
  font-size: 32px !important;
}
.fon34 {
  font-size: 34px !important;
}
.fon36 {
  font-size: 36px !important;
}
