/* ------------------------------------------
  image
 ------------------------------------------ */
.c-image {
  display: block;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  max-width: 600px;
}