<header class="p-header">
  <h1 class="p-header__logo">
    <a href="../1/">
      <img src="../../img/logo.svg" alt="オリエンタルバイオ" width="" height="">
    </a>
  </h1>
  <p class="p-header__title">異常収縮の抑制に<br class="sp"><span class="u-strong--epa">「小林式EPA」</span></p>
</header>