<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- TODO: meta情報変更 -->
  <title>血管の異常収縮の抑制に「小林式EPA」</title>
  <meta name="description" content="">
  <meta property="og:url" content="https://orientalbio-kenko.jp/report/page/1/index1.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="血管の異常収縮の抑制に「小林式EPA」" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="../../img/fv.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="fb:app_id" content="1240768159430001" />
  <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/app.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="../../js/main.js" charset="utf-8" defer></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5Q8PF7');</script>
  <!-- End Google Tag Manager -->
</head>
