<!DOCTYPE html><html lang="ja">
<%- include('../../components/_head') %>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Q8PF7"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <main class="main">
    <section class="p-info l-inner">
      <h2>会社概要</h2>
      <table>
        <colgroup span="1" style="background-color: #f7e5e1; width: 100px;"></colgroup>
        <tr>
          <th>会社名</th>
          <td>オリエンタルバイオ株式会社</td>
        </tr>
        <tr>
          <th>本店所在地</th>
          <td>〒103-0023&nbsp;東京都中央区日本橋本町1-5-4&nbsp;住友不動産日本橋ビル1階</td>
        </tr>
        <tr>
          <th>お問い合わせ</th>
          <td>
            <dl class="l-flex p-info__contact">
              <dt>●TEL:</dt>
              <dd>
                <!-- TODO ebis CVタグ -->
                <a href="tel:03-6626-2666" class="ebis_button_trigger sp-link" data-cid="2JbemGXQ" data-pid="epa_tanaka_tel_cv">03-6626-2666</a><br>月〜金 10:00〜18:30<br class="sp">（土・日・祝祭日休業）</dd>
            </dl>
          </td>
        </tr>
      </table>
      <!-- <a href="./index.html" class="info__back u-link">&lt;&nbsp;記事に戻る</a> -->
    </section>
  </main>
  <%- include('../../components/_footer') %>
</body>
</html>
