/* ------------------------------------------
  space
 ------------------------------------------ */
.u-mgb-xl {
  margin-bottom: $space-900;
}
.u-mgb-l {
  margin-bottom: $space-600;
}
.u-mgb-m {
  margin-bottom: $space-300;
}
.u-mgb-s {
  margin-bottom: $space-100;
}
.u-mgt-xxl {
  margin-top: $space-900;
}
.u-mgt-xl {
  margin-top: $space-700;
}
.u-mgt-l {
  margin-top: $space-600;
}
.u-mgt-m {
  margin-top: $space-300;
}
.u-mgt-s {
  margin-top: $space-100;
}