<% 
const data = {
  page: {
    path: 3
  }
}
%> 
<!DOCTYPE html><html lang="ja">
<%- include('../../components/_head') %>
<body id="body">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Q8PF7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<main class="l-inner">
  <section class="p-article l-section">
    <h2 class="c-title c-title--primary"><span class="c-title--primary__epa">「小林式EPA」</span>を効率よく<br>吸収する方法</h2>
    <div class="p-comment">
      <div class="p-comment__item">
        <div class="p-comment__icon">
          <img src="../../img/comment_icon_tanaka.png" alt="" loading="lazy">
        </div>
        <p class="p-comment__text">
          <span>小林式EPAの吸収が大事ってどういうことですか？<br>
          吸収できないことがあるのですか？</span>
        </p>
      </div>
    </div>
    <h3 class="c-title c-title--secondary">実はEPAを吸収できない人がいる？</h3>
    <p class="c-dialog">
      生の青魚のEPAが異常収縮を抑制することはご理解頂けたかと思いますが、実は加齢によってEPAの吸収が悪くなってしまうことが分かったのです。
    </p>
    <p class="c-dialog">
      中高年になると、肝機能が衰え脂質の吸収に必要な胆汁酸の分泌が低下し、せっかくEPAを獲ったとしても吸収されにくい可能性があります。
    </p>
    <img src="../../img/sec04_01.png" alt="10代20代は元気な肝臓だが、40代、50代と歳を重ねるごとに機能が弱っていく肝臓の様子" class="c-image" width="700" height="301">
    <div class="p-comment">
      <div class="p-comment__item">
        <div class="p-comment__icon">
          <img src="../../img/comment_icon_tanaka.png" alt="" loading="lazy">
        </div>
        <p class="p-comment__text">
          <span>なるほど。<br>
          じゃあ、私みたいな60,70代はもっと。ということですね…。</span>
        </p>
      </div>
      <div class="p-comment__item">
        <div class="p-comment__icon">
          <img src="../../img/comment_icon_kobayashi.png" alt="" loading="lazy">
        </div>
        <p class="p-comment__text">
          <span>残念ながらそうなんですね。<br>
          だんだん肝機能が衰え、EPAの吸収率が低くなるんです。だからEPAの吸収を高める必要がでてきたんですよ。</span>
        </p>
      </div>
    </div>
    <h3 class="c-title c-title--secondary">
      吸収促進成分を<br>
      同時に摂取することが大事
    </h3>
    <p class="c-dialog">
      研究を重ねた結果、EPAと一緒に「吸収促進成分」を摂取すると体内へのEPAの吸収が高まることを発見。※この研究で２つ目の特許取得
    </p>
    <p class="c-dialog">
      実際に、研究のもとEPAの吸収を高める7つの吸収促進成分の組み合わせで実験を行いました。
    </p>
    <img src="../../img/sec04_02.png" alt="ウコン（クルクミン含有）、マリアアザミ、西洋タンポポ、牡蠣エキス（タウリン含有）、アーティチョーク、黒胡椒抽出物（ピペリン含有）、リゾレシチン、アーティチョーク" class="c-image" width="700" height="510">
    <img src="../../img/sec04_03.png" alt="その結果、EPAの吸収量が２倍に！小林教授監修のもと、30～60代の方(計20名)に｢EPAのみ｣と｢EPA＋7つの吸収促進成分｣をそれぞれ摂取していただいたあと血液中のEPA量を測定しました。EPAのみを摂取した場合に対し、EPAと一緒に「7つの吸収促進成分」を摂取した場合を比べてみると、体内吸収量が4時間後には約2倍、6時間後には約1.5倍に増えたという結果が得られました。" class="c-image" width="690" height="1396">
    <img src="../../img/sec04_04.png" alt="また、通常のEPAよりも水に溶けやすいことがわかっています。" class="c-image">
    <div class="c-summary u-mgt-xl">
      <img class="c-image" src="../../img/page03_summary.png" alt="40代から次第に肝機能が弱まり、EPAの吸収量が低下する。そのため小林式EPAと吸収促進成分の同時摂取が効果的。" loading="lazy" width="750" height="612">
      <!-- <div class="c-summary__title">
        <p class="c-dialog"></p>
      </div>
      <ul class="c-summary__list">
        <li class="c-summary__icon"><img src="" alt=""></li>
        <p class="c-summary__text"></p>
      </ul> -->
    </div>
    <div class="p-comment">
      <div class="p-comment__item">
        <div class="p-comment__icon">
          <img src="../../img/comment_icon_tanaka.png" alt="" loading="lazy">
        </div>
        <p class="p-comment__text">
          <span>もう僕自身、心筋梗塞・心房細動・動悸・不整脈とさまざま血管の病気に苦しめられてきたので、小林先生の研究成果を知ることができて感動です。<br><br>
          まさか食品成分の<span class="u-strong--epa">「小林式EPA」</span>で抑制できるなんてびっくりしました。多くの方が救われる研究をしてくださって、ありがとうございます。</span>
        </p>
      </div>
      <div class="p-comment__item">
        <div class="p-comment__icon">
          <img src="../../img/comment_icon_kobayashi.png" alt="" loading="lazy">
        </div>
        <p class="p-comment__text">
          <span>我々研究チームが辿り着いた<span class="u-strong--epa">「小林式EPA」</span>は、血管の異常収縮を抑制することを研究室でしっかり確認しているEPAです。<br><br>
          是非皆さんも、血管の異常収縮と<span class="u-strong--epa">「小林式EPA」</span>について理解を深めていただき、血管病のリスクを未然に防げるような生活習慣を目指してほしいと思います。</span>
        </p>
      </div>
    </div>
  </section>
  <section class="p-achievement l-section">
    <h2 class="p-achievement__title p-achievement__title--primary">小林教授研究チームの研究実績</h2>
    <img src="../../img/achievement_01.png" alt="山口大学医学部 小林誠(こばやし せい)教授" width="863" height="456" class="c-image" loading="lazy">
    <p class="c-dialog">
      1980年九州大学医学部卒業後、同大学循環器内科入局。米国医師国家試験（ECFMG）にも合格。<br>
      1985年に世界で初めて、カルシウムイオンの測定に成功する。その後渡米し、ペンシルベニア大学、バージニア大学、九州大学の助教授を経て、1996年より山口大学で教授職を務める。
    </p>
    <p class="c-dialog">
      世界に先駆けて、血管病による突然死の主因となる「血管の異常収縮」の原因分子を発見し、そのメカニズムも解明。さらに特殊な立体構造のEPAによる阻害効果も発見。現在も『血管病の撲滅』を掲げ、日々研究を続けている。
    </p>
    <h3 class="p-achievement__title p-achievement__title--secondary">世界初</h3>
    <h4 class="p-achievement__title p-achievement__title--third">
      1985年 / カルシウムイオンの測定に成功
    </h4>
    <p class="c-dialog">
      正常な筋収縮を起こす血管平滑筋細胞内のカルシウムイオン濃度の異常上昇が、「血管の異常収縮」を引き起こす要因であると考えた小林教授は、カルシウムイオンの測定に世界で初めて成功。世界屈指の学術雑誌『Science』にて論文を発表し、世界の注目を集めました。
    </p>
    <h3 class="p-achievement__title p-achievement__title--secondary">世界初</h3>
    <h4 class="p-achievement__title p-achievement__title--third">
      2000年 / ｢血管の異常収縮｣の<br>
      メカニズム解明に成功
    </h4>
    <figure class="u-mgb-m">
      <img src="../../img/achievement_02.jpg" class="" alt="" width="650" height="441" loading="lazy">
      <figcaption class="c-letter">世界トップクラスの医学雑誌『Circulation Research』に掲載され、編集者による特別解説ページにも取り上げられ、絶賛された。</figcaption>
    </figure>
    <p class="c-dialog">
      小林教授と研究チームは、度重なる研究の末、2000年、世界で初めて「血管の異常収縮」のメカニズムを解明しました。そして、SPC（スフィンゴシル・ホスホリル・コリン）という脂質が「血管の異常収縮」を引き起こしていることを突き止めたのです。 それは、生物学の常識であったカルシウムイオンによる血管の収縮とはまったく違うメカニズムで起きていました。さらに、原因物質であるSPCは、細胞膜の構成成分から簡単に作り出されてしまうため、カルシウムイオンによる血管の収縮とはまったく違う「誰にでも血管の異常収縮が起きる可能性がある」ことが明らかになったのです。
    </p>
    <img src="../../img/achievement_03.jpg" class="c-image" alt="" width="659" height="490" loading="lazy">
    <p class="c-dialog">
      実際に、SPCが「血管の異常収縮」を引き起こすのかを確認するため、モデル動物の脳血管にSPCを投与する実験を行いました。<br>
      すると、SPCを一回投与しただけで２時間もの長い間、広範囲で激しい「血管の異常収縮」が認められました。
    </p>
    <h3 class="p-achievement__title p-achievement__title--secondary">世界初</h3>
    <h4 class="p-achievement__title p-achievement__title--third">2002年 / EPAの｢血管の異常収縮｣<br>抑制作用を発見</h4>
    <figure class="u-mgb-m">
      <img src="../../img/achievement_04.jpg" class="" alt="" width="554" height="455" loading="lazy">
      <figcaption class="c-letter">世界的に権威のある医学雑誌に掲載され、メディアにも絶賛された。</figcaption>
    </figure>
    <p class="c-dialog">
      メカニズム解明後、特効薬の開発に着手。<br>
      「血管の異常収縮」のメカニズム解明から２年、研究の道に進んでからおよそ20年。ついに、魚油のEPAが血管の正常収縮を抑制せず「異常収縮」のみを抑制できることを世界で初めて発見。医学界で大変話題となりました。小林教授らの研究成果は、最終的に医学雑誌『Circulation Research』に3度掲載され、2度も編集者に特別に紹介されるという極めて稀な評価を受けたのです。
    </p>
    <h4 class="p-achievement__title p-achievement__title--third">2006年 / NEDOの助成対象事業に採択される</h4>
    <img src="../../img/achievement_05.png" class="c-image" alt="" width="700" height="452" loading="lazy">
    <p class="c-dialog">
      メカニズム解明後、特効薬の開発に着手。<br>
      「血管の異常収縮」のメカニズム解明から２年、研究の道に進んでからおよそ20年。ついに、魚油のEPAが血管の正常収縮を抑制せず「異常収縮」のみを抑制できることを世界で初めて発見。医学界で大変話題となりました。小林教授らの研究成果は、最終的に医学雑誌『Circulation Research』に3度掲載され、2度も編集者に特別に紹介されるという極めて稀な評価を受けたのです。
    </p>
    <h4 class="p-achievement__title p-achievement__title--third">2013年 / 公益社団法人発明協会の会長奨励賞を受賞</h4>
    <img src="../../img/achievement_06.png" class="c-image" alt="" width="700" height="452" loading="lazy">
    <p class="c-dialog">
      EPAの発見と体内吸収量増加の研究が評価され、公益社団法人発明協会の会長奨励賞を受賞。<br>
      優れた発明や意匠を生み出した技術者・研究開発者を顕彰する伝統ある会で、その中でも最高位の賞で表彰されました。
    </p>
    <h4 class="p-achievement__title p-achievement__title--third">2013年・2014年 / ｢血管病予防食品｣の<br>研究成果が2つの特許を取得</h4>
    <img src="../../img/achievement_07.png" class="c-image" alt="" width="699" height="491" loading="lazy">
    <p class="c-dialog">
      2005年より｢小林式EPA｣の研究開発、およびEPAの体内吸収量を高める研究を行ってきたその成果が<br>
      ｢血管病予防に効果を有する食品組成物｣として、2013年、2014年に相次いで2つの特許を取得しました。
    </p>
  </section>
  <%- include('../../components/_pagenation', {data}) %>
</main>
<%- include('../../components/_footer') %>
</html>