<footer>
  <p class="footer__logo"><a href="/interview/data.html"><img src="<%= projectRootPath %>assets/img/ft_logo.png" alt="ORIENTALBIO"></a></p>
  <p class="footer__info"><a href="/interview/data.html">企業情報</a></p>
  <p class="footer__copy"> (C) 2021 ORIENTALBIO Co.,Ltd.</p>
</footer>
